<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zadatak 3</title>
</head>
<body>
    <p>Unesite podatke za pretragu</p>
    <form method="get" action="/dogadjaji">
        <label>Godina</label>
        <input type="number", name="godina">
        <br>
        <label>Mesec</label>
        <input type="number", name="mesec">
        <br>
        <label>Dan</label>
        <input type="number", name="dan">
        <br>
        <input type="submit" name="submit" value="Pretrazi dogadjaje">
    </form>
</body>
</html>