<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zadatak 3</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/1.css">
</head>
<body>
    <h1><%= city %></h1>
    <div class="container text-center">
  <div class="row">
    <div class="col">
        <form><button >The Flight</button></form>
        <form><button >The City</button></form>
        <form><button >The Island</button></form>
        <form><button >The Food</button></form>
    </div>
    <div class="col-6">
      <h2 style="text-align: left; font-weight: bold;"><%=city%></h2>
      <p class="paragraph">
        <%=info%>
      </p>
    </div>
    <div class="col" id="div3">
      <h2>What?</h2>
      <p>Plan your flight.</p>
      <h2>Where?</h2>
      <p>Wherever you want.</p>
      <h2>How?</h2>
      <p>Using our page.</p>
    </div>
  </div>
</div>
<footer>Resize the browser window to see how the content respond to resizing.</footer>
</body>
</html>