body{
    font-family: Arial, Helvetica, sans-serif;
}

main{
    width: 60%;
    margin: auto;
    background-image: linear-gradient(135deg, red, blue);
}

img{
    width: 120px;
    height: 100px;
}

div{
    border: 1px solid black;
    width: 120px;
    height: 150px;
    background-color: white;
}

h1{
    text-align: center;
}

li{
    margin: auto;
    margin-left: 200px;
}

h2{
    margin-top: 50px;
    text-align: center;
}

form{
    margin-left: 300px;
    padding: 10px;
}

input{
    width: 40px;
}

button{
    margin-bottom: 200px;
}