<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zadatak 3</title>
</head>
<body>
    <form action="/rezultati" method="get">
        <label>Username:</label>
        <input type="text" name="username"><br>
        <label>Password</label>
        <input type="password" name="password"><br><br>
        <input type="submit" value="Prijavi se">
    </form>
</body>
</html>