body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    background-image: linear-gradient(to bottom, pink, white);
    font-weight: bold;
}

.container{
    margin: auto;
    position: relative;
}

table{
    border: 2px dotted black;
    width: 50%;
    margin-left: 20px;
    text-align: left;
    margin-top: 5px;
}

#right{
    position: absolute;
    top: 0;
    right: 0;
}

#blueBtn{
    width: 250px;
}