body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    background-image: linear-gradient(to bottom, pink, white);
}

table{
    border: 2px dotted black;
    width: 95%;
    margin-bottom: 10px;
    text-align: left;
}

tr{
    border-bottom: 1px solid black;
}

td{
    padding: 5px;
}

.bold{
    font-weight: bold;
}

form{
    text-align: left;
}

h2{
    text-align: left;
}

.btn-primary{
    width: 100%;
}