<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zadatak 3</title>
</head>
<body>
    <form action="/statistike/prikazi-statistike" method="get">
        <label>Odaberi smer:</label><br>
    <select name="smer">
        <option value="I">Informatika</option>
        <option value="M">Matematika</option>
        <option value="A">Atronomija i astrofizika</option>
    </select>
    <br>

    <input type="submit" name="submit" value="Prikazi statistike">
    </form>
</body>
</html>