<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Uspesna prijava</title>
  </head>
  <body>
    <p>Uspesno ste se prijavili!</p>

    <table>
      <tbody>
        <tr>
          <td>Username</td>
          <td><%= 2+2 %></td>
        </tr>
        <tr>
          <td>Password</td>
          <td><%= 2+3 %></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
